## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

*.xcuserstate

xcuserdata/

*.xccheckout


# Xcode (below added 11/21/2013 ahanssen)

.DS_Store
*.DS_Store

*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside
.idea/
*.LSOverride

# Cocoapods

Pods

